# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment & Secrets (Never commit credentials or env files)
.env
.env.*
!.env.example

# Native Keys & Certificates
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.keystore

# Metro
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# IDE & Editor files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Generated native folders (if prebuild is run)
/ios/*
!/ios/ShareExtension
!/ios/Mindspace
/ios/Mindspace/*
!/ios/Mindspace/AppDelegate.swift
/android
